{% extends 'base.html' %}

{% block container %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Graph Signal Processing Plots</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<!--Box Plot, Scatter Plot, central tendency table-->
<h4>The Graph Along with the Graph Signal</h4>
<div class="row text-center">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/graph.png') }}">
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/graph_signal.png') }}">
  </div>
</div>

<h4>Four most Dominant Eigen Vectors</h4>
<div class="row text-center">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/eigen_vector1.png') }}">
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/eigen_vector2.png') }}">
  </div>
</div>
<div class="row text-center">
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/eigen_vector3.png') }}">
  </div>
  <div class="col-md-6">
    <img src="{{ url_for('static', filename='images/gsp/eigen_vector4.png') }}">
  </div>
</div>


{% endblock %}